include ../../01-globals/mixins.pug
section(class="project-details")
  div(class="container")



    div(class="featured-area")
        div(class="project-featured-img")
          img(src=feat_img class="featured-img ")


    div(class="project-heading")
      div(class="row")
        div(class="col-12 col-lg-8 mx-auto")
          h1(class="project-title") Designing and developing #{ThemeName} website
    
    div(class="info-area")
      div(class="row")    
        div(class="col-12 col-lg-8 mx-auto")
          div(class="project-info")
            div(class="row")
              div(class="col-6 col-lg-3")
                div(class="info")
                  h5(class="title")  client
                  p(class="detail") amin themes
              div(class="col-6 col-lg-3")
                div(class="info")
                  h5(class="title") category
                  p(class="detail") web design
              div(class="col-6 col-lg-3")
                div(class="info")
                  h5(class="title") start date
                  p(class="detail") 30/1/2019
              div(class="col-6 col-lg-3")
                div(class="info")
                  h5(class="title") share
                  +add_social_icons_list("dir-row sc-flat")
            

    div(class="main-area")
      div(class="row")
        div(class="col-12 col-lg-8 mx-auto ")

          p(class="project-text")
            .
              drawing ipsum dolor sit, amet consectetur adipisicing elit.
              Expedita iste culpa tempore deleniti explicabo, possimus enim porro impedit
              ea dolores vitae doloribus recusandae aut quas facilis earum doloremque maiores veniam?



          h5(class="sub-heading ") project goals
          p(class="project-text") 
            . 
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Ullam unde, alias deserunt nemo perspiciatis cum delectus
              deleniti repudiandae aliquam exercitationem veniam ipsam 
              incidunt sequi ipsum tenetur.
              Consequuntur dolorum suscipit eos.
          p(class="project-text") 
            . 
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Ullam unde, alias deserunt nemo perspiciatis cum delectus
              deleniti repudiandae aliquam exercitationem veniam ipsam 
              incidunt sequi ipsum tenetur.
              Consequuntur dolorum suscipit eos.
              deleniti repudiandae aliquam exercitationem veniam ipsam 
              incidunt sequi ipsum tenetur.
              Consequuntur dolorum suscipit eos.

          div( class="project-video mega-section ")
              div(class="overlay-image-bg  ")
              div(class="overlay-color")
              div(class="video-wraper")
                +add_play_btn_col_dir('watch our video','center')

          h5(class="sub-heading ") project steps
          p(class="project-text")
            .
              Lorem ipsum dolor sit, amet consectetur 
              adipisicing elit.
              Expedita iste culpa tempore deleniti explicabo,
              possimus enim porro impedit
              Lorem ipsum dolor sit, amet consectetur 
              adipisicing elit.
              Expedita iste culpa tempore deleniti explicabo,
              possimus enim porro impedit
              Lorem ipsum dolor sit, amet consectetur 
              adipisicing elit.
              Expedita iste culpa tempore deleniti explicabo,
              possimus enim porro impedit

          ul(class="list steps")

            li(class="list-item step")
              i(class="fas fa-dot-circle icon")
              span ipsum dolor sit amet consectetur adipisicing
            li(class="list-item step")
              i(class="fas fa-dot-circle icon")
              span quas, ea fuga vel quis officiis laborum quaerat 
            li(class="list-item step")
              i(class="fas fa-dot-circle icon")
              span alias fugiat aliquam  soluta beatae numquam
            li(class="list-item step")
              i(class="fas fa-dot-circle icon")
              span nobis maiores inventore harum pariatur  possimus
            li(class="list-item step")
              i(class="fas fa-dot-circle icon")
              span nobis maiores inventore harum pariatur 



          h5(class="sub-heading ") project results
          p(class="project-text")
            .
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Expedita iste culpa tempore deleniti explicabo, possimus enim porro impedit 
          img(src= chart_img  class="result-img img-fluid")
      




         

