section(id="page-hero" class="page-hero    hero-vegas-slider  ")
  
  div(class="overlay-color ")
 
  div(class="vegas-slider-content" data-vegas-slide-1="../assets/images/hero/vegas-slider/1.jpg" data-vegas-slide-2="../assets/images/hero/vegas-slider/2.jpg" data-vegas-slide-3="../assets/images/hero/vegas-slider/3.jpg")
    div(class="container")
     div(class="row")
        div(class="col-12 col-lg-10   mx-auto")
        
          //Start of .hero-text-area
          div(class="hero-text-area text-center  ")
              h1( class="hero-title"  data-splitting) boost Your Presence With
                |
                |
                span(class="heading-brand-name")  
                  | #{ThemeName}
              p(class="hero-subtitle narrow-centerd-text"  data-splitting)
                  . 
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed
                      architecto dolorum inventore
                      impedit ad porro nisi autem iste quidem minus. 
              div(class="cta-links-area")
                a(href="#0" class=" ma-btn-primary cta-link cta-link-primary  wow  fadeInUp " data-wow-delay="0.7s") start now
                a(href="#0" class=" ma-btn-primary cta-link  wow  fadeInUp " data-wow-delay="0.8s") Contact us
          //End of .hero-text-area



