section(id="page-hero" class="page-hero hero-image-bg d-flex align-items-center")
  div(id="particles-js" class="particles-js ")
  div(class="overlay-image-bg")
  div(class="overlay-color")

  div(class="container")
    div(class="row")
        div(class="col-12 col-lg-10  mx-auto")
        
          //Start of .hero-text-area
          div(class="hero-text-area text-center  ")
              h1( class="hero-title "    data-splitting) boost  your business with
                |
                |
                span(class="heading-brand-name")
                  | #{ThemeName}
              p(class="hero-subtitle  narrow-centerd-text"   data-splitting)
                  . 
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed
                      architecto dolorum inventore
                      impedit ad porro nisi autem iste quidem minus. 
              div(class="cta-links-area wow  fadeInUp " data-wow-delay="1.2s")
                  a(href="#0" class=" ma-btn-primary cta-link ") Start now
    //End of .hero-text-area

