footer(id="page-footer" class= page_footer_ClassList )
 
  //- div(class="container")
  //-   div(class="row footer-cols")
      //- About  column
      div(class="col-12 col-md-8 col-lg-4  footer-col wow fadeInUp " data-wow-delay="0.3s")
        h6(class=" footer-col-title  ") About #{ThemeName}
        div(class="footer-col-content-wrapper")         
          p(class="footer-text-about-us ") Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                              | Voluptatibus facere modi possimus dignissimos, 
                                              | aliquam nobis eaque? Voluptatem magnam quisquam rem.
          div(class="social-icons")
            +add_social_icons_list("dir-row sc-size-32")

      //- useful linkes colmn
      div(class="col-12 col-md-6 col-lg-2  footer-col wow fadeInUp " data-wow-delay="0.5s")
        h6(class=" footer-col-title    ") useful links
       
        div(class="footer-col-content-wrapper")
          ul(class="footer-menu ")
            li(class="footer-menu-item" )
              a(href="#0" class="footer-menu-link") Google
            li(class="footer-menu-item" )
              a(href="#0" class="footer-menu-link") Dribbble
            li(class="footer-menu-item" )
              a(href="#0" class="footer-menu-link") linkedIn
            li(class="footer-menu-item" )
              a(href="#0" class="footer-menu-link") Wikipiddia


      //- Resources linkes colmn
      div(class="col-12 col-md-6 col-lg-2 footer-col wow fadeInUp " data-wow-delay=".7s")
        h6(class=" footer-col-title    ") Resources
       
        div(class="footer-col-content-wrapper")
           
          ul(class="footer-menu")
            li(class="footer-menu-item" )
              a(href="#0" class="footer-menu-link") support
            li(class="footer-menu-item" )
              a(href="#0" class="footer-menu-link") dashboard
            li(class="footer-menu-item" )
              a(href="#0" class="footer-menu-link") drivers
            li(class="footer-menu-item" )
              a(href="#0" class="footer-menu-link") projects

           
      //- Contact Info column
      div(class="col-12 col-md-8   col-lg-4 footer-col wow fadeInUp " data-wow-delay=".9s")
        h6(class=" footer-col-title    ") contact information
       
        div(class="footer-col-content-wrapper")        
          div(class="contact-info-card")
            i(class="fas fa-envelope icon")
            a(href="mailto:example@support.com" class="text-lowercase  info") example@support.com
          
          
          div(class="contact-info-card")
            i(class="fas fa-globe-africa icon")
            a(href="#0" class="text-lowercase  info") www.yoursite.com
          
          
          div(class="contact-info-card")
            i(class="fas fa-map-marker-alt icon")
            span(class="text-lowercase  info") 5 Xyz st., Abc, alexandria, egypt.
          
          
          div(class="contact-info-card")
            i(class="fas fa-mobile-alt icon")
            a(href="tel:+20123456789" class="info") +20123456789      



      
  div(class="copyrights ")
    div(class="container")
      div(class="row")
        .col-12.col-md-6
            p(class="creadits") 
              |
              a(href="#0" class="link pe-5") Timios Ltd
              a(href="#0" class="link") Company registration: 15135686
        .col-12.col-md-6
          div(class="terms-links")
            

       
            



       


 








