//
//font varibales
//
$font_1_LTR: "Nunito";
$font_2_LTR: "Montserrat";

$font_1_RTL: "cairo";
$font_2_RTL: "cairo";

$fontMain: "";
//

$main-color: "";
$accent-color: "";

//colors varibales

$white-color: #fff;
$black-color: #000;

$grey-color: #f1f1f1;
$semi-dark-grey-color: #707070;
$dark-grey-color: #575757;
$extra-dark-grey-color: #333;

$transparent-black-50: rgba(0, 0, 0, 0.5);
$transparent-black-25: rgba(0, 0, 0, 0.25);

$main-color: #07727e;
$accent-color: #1b4d48;

$overlay-color-opacity-val-25: 0.25;
$overlay-color-opacity-val-50: 0.5;
$overlay-color-opacity-val-75: 0.75;
$overlay-color-opacity-val-100: 1;
