div(class=" text-area ")
  //- div(class="about-num") 1
  //- div(class="about-icon")
  //-   i(class="fas fa-lightbulb  icon")
  span(class="tag-line") our motivation
  h2( class=" about-title ") What is our motivation?
  
  p(class="about-text ")
    . 
      Our journey begins with a shared passion for pets. 
      As veterinary professionals, we've witnessed the unbreakable bond between pets and their owners,
      and it's our belief that every pet deserves the best care possible.
  
  p(class="about-text ")
    . 
      However, we also recognize the challenges that pet owners face—a delicate balance 
      between the inconvenience of traditional processes and the soaring costs of
      pet services and products. Driven by a desire to bridge this gap, we embarked 
      on a mission to transform the pet ownership experience.


  
  //- a(href="#0" class=" ma-btn-primary ") Learn more
