div(class=" text-area ")
  //- div(class="about-num") 1
  //- div(class="about-icon")
  //-   i(class="fas fa-lightbulb  icon")
  span(class="tag-line") about us
  h2( class=" about-title ") The #1 company On IT solutions & development field 

  p(class="about-text ")
    . 
      Lorem ipsum dolor, sit amet consectetur
      adipisicing elit.
      Distinctio,
      aliquam est!
      rerum inventore animi at iusto 
  p(class="about-text ")
    . 
      Lorem ipsum dolor, sit amet consectetur
      adipisicing elit.
      Distinctio,
      aliquam est!
      rerum inventore animi at iusto mollitia nemo reprehenderit dignissimos voluptate eos 
      Repellendus tenetur officia excepturi dolorum totam sunt accusamus quia fugiat quasi
 
  div(class="about-stats stats-counter")
    div(class="row g-0")
      //Info One
      div(class="col-4 ")
        div(class="stat-box  ")
          //- i(class="fas fa-cog stat-icon")
          p(class="stat-num ")
            span(class="sign") +
            span(class="counter" data-from="10" data-to="750" data-speed="3000" data-refresh-interval="50")
          h5(class="stat-desc") projects

      //Info Two
      div(class="col-4 ")
        div(class="stat-box ")
          //- i(class="fas fa-coffee stat-icon")
          p(class="stat-num ")
            span(class="sign") +
            span(class="counter" data-from="25" data-to="900" data-speed="3000" data-refresh-interval="50")
          h5(class="stat-desc") clients
      //Info Three
      div(class="col-4 ")
        div(class="stat-box ")
          //- i(class="fas fa-money-check stat-icon")
          p(class="stat-num ")
            span(class="sign") +
            span(class="counter" data-from="0" data-to="980" data-speed="3000" data-refresh-interval="50")
          h5(class="stat-desc") hours



  a(href="#0" class=" ma-btn-primary ") Learn more
