div(class="text-area ")

  span(class="tag-line") our mision
  h2( class=" about-title ") developing your way to success

  div(class="info-items")
    div(class="row g-0")
      div(class="col-12 ")
        ul(class="menu-items")
          
          
          li(class="info-item")
            i(class="far fa-chart-bar info-icon")
            div(class="info-content")
              h5(class="info-title") Creating a Uniq Experience
              p(class="info-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. A omnis inventore quod maxime officiis.
          
          
          li(class="info-item")
            i(class="far fa-paper-plane info-icon ")
            div(class="info-content")
              h5(class="info-title") Adding More Value
              p(class="info-text") Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, repellat. Corporis eveniet dolores eos architecto!
          
          
          li(class="info-item")
            i(class="far fa-clone info-icon ")
            div(class="info-content") 
              h5(class="info-title") Fulfill your dreams
              p(class="info-text") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis, ratione repellat architecto consectetur. 
    

  a(href="#0" class=" ma-btn-primary ") Learn more