-

    var ThemeName='yufa'
    ThemeName.toUpperCase

    //- to define the type of each page
    var home_page_type='homePage'
    var inner_page_type='innerPage'

  

    //- One-page Demos Pathes
    var index_path='#0'
    
    var light_index='theme-light/landing-page-1.html'
    var light_landing_page_2_path='theme-light/landing-page-2.html'
    var light_landing_page_3_path='theme-light/landing-page-3.html'
    var light_landing_page_4_path='theme-light/landing-page-4.html'
    var light_landing_page_5_path='theme-light/landing-page-5.html'
    var light_landing_page_6_path='theme-light/landing-page-6.html'
    var light_landing_page_7_path='theme-light/landing-page-7.html'
    var light_landing_page_8_path='theme-light/landing-page-8.html'
    var light_landing_page_9_path='theme-light/landing-page-9.html'
    var light_landing_page_10_path='theme-light/landing-page-10.html'
    var light_landing_page_11_path='theme-light/landing-page-11.html'
    var light_landing_page_12_path='theme-light/landing-page-12.html'

    //- dark-theme pathes
    var dark_index='theme-dark/landing-page-1_dark.html'
    var dark_landing_page_2_path='theme-dark/landing-page-2_dark.html'
    var dark_landing_page_3_path='theme-dark/landing-page-3_dark.html'
    var dark_landing_page_4_path='theme-dark/landing-page-4_dark.html'
    var dark_landing_page_5_path='theme-dark/landing-page-5_dark.html'
    var dark_landing_page_6_path='theme-dark/landing-page-6_dark.html'
    var dark_landing_page_7_path='theme-dark/landing-page-7_dark.html'
    var dark_landing_page_8_path='theme-dark/landing-page-8_dark.html'
    var dark_landing_page_9_path='theme-dark/landing-page-9_dark.html'
    var dark_landing_page_10_path='theme-dark/landing-page-10_dark.html'
    var dark_landing_page_11_path='theme-dark/landing-page-11_dark.html'
    var dark_landing_page_12_path='theme-dark/landing-page-12_dark.html'



    //- Multipages Home pages Pathes
    
    var light_home_1_path='theme-light/home-1.html'
    var light_home_2_path='theme-light/home-2.html'
    var light_home_3_path='theme-light/home-3.html'
    var light_home_4_path='theme-light/home-4.html'
    var light_home_5_path='theme-light/home-5.html'
    var light_home_6_path='theme-light/home-6.html'
    var light_home_7_path='theme-light/home-7.html'
    var light_home_8_path='theme-light/home-8.html'
    var light_home_9_path='theme-light/home-9.html'
    var light_home_10_path='theme-light/home-10.html'
    var light_home_11_path='theme-light/home-11.html'
    var light_home_12_path='theme-light/home-12.html'

    //- dark-theme pathes
    var  dark_home_1_path='theme-dark/home-1_dark.html'
    var  dark_home_2_path='theme-dark/home-2_dark.html'
    var  dark_home_3_path='theme-dark/home-3_dark.html'
    var  dark_home_4_path='theme-dark/home-4_dark.html'
    var  dark_home_5_path='theme-dark/home-5_dark.html'
    var  dark_home_6_path='theme-dark/home-6_dark.html'
    var  dark_home_7_path='theme-dark/home-7_dark.html'
    var  dark_home_8_path='theme-dark/home-8_dark.html'
    var  dark_home_9_path='theme-dark/home-9_dark.html'
    var  dark_home_10_path='theme-dark/home-10_dark.html'
    var  dark_home_11_path='theme-dark/home-11_dark.html'
    var  dark_home_12_path='theme-dark/home-12_dark.html'

 //- Inner pages Pathes
    var  light_about_us_path='theme-light/about-us.html'
    var  light_services_path='theme-light/services.html'
    var  light_portfolio_rounded_with_gabs_path='theme-light/portfolio-rounded-with-gabs.html'
    var  light_portfolio_squared_with_gabs_path= 'theme-light./portfolio-squared-with-gabs.html'
    var  light_portfolio_squared_no_gabs_path  ='theme-light/portfolio-squared-no-gabs.html'
    var  light_portfolio_slider_path  ='theme-light/portfolio-slider.html'
    var  light_portfolio_single_path='theme-light/portfolio-single.html'

    var light_testimonials_path='theme-light/testimonials.html'
    var light_clients_path='theme-light/clients.html'
    var light_404_1_path='theme-light/404-1.html'
    var light_404_2_path='theme-light/404-2.html'
    var light_404_3_path='theme-light/404-3.html'
    var light_pricing_1_path='theme-light/pricing-1.html'
    var light_pricing_2_path='theme-light/pricing-2.html'
    var light_pricing_3_path='theme-light/pricing-3.html'
    var light_faq_path='theme-light/faq.html'
    var light_contact_us_path='theme-light/contact-us.html'
    var light_sign_in_path='theme-light/sign-in.html'
    var light_sign_up_path='theme-light/sign-up.html'



    //- dark-theme pathes
    var  dark_about_us_path='theme-dark/about-us_dark.html'
    var  dark_services_path='theme-dark/services_dark.html'
    var  dark_portfolio_rounded_with_gabs_path='theme-dark/portfolio-rounded-with-gabs_dark.html'
    var  dark_portfolio_squared_with_gabs_path='theme-dark/portfolio-squared-with-gabs_dark.html'
    var  dark_portfolio_squared_no_gabs_path  ='theme-dark/portfolio-squared-no-gabs_dark.html'
    var  dark_portfolio_slider_path  ='theme-dark/portfolio-slider_dark.html'
    var  dark_portfolio_single_path='theme-dark/portfolio-single_dark.html'

    var  dark_testimonials_path='theme-dark/testimonials_dark.html'
    var  dark_clients_path='theme-dark/clients_dark.html'
    var  dark_404_1_path='theme-dark/404-1_dark.html'
    var  dark_404_2_path='theme-dark/404-2_dark.html'
    var  dark_404_3_path='theme-dark/404-3_dark.html'
    var  dark_pricing_1_path='theme-dark/pricing-1_dark.html'
    var  dark_pricing_2_path='theme-dark/pricing-2_dark.html'
    var  dark_pricing_3_path='theme-dark/pricing-3_dark.html'
    var  dark_faq_path='theme-dark/faq_dark.html'
    var  dark_contact_us_path='theme-dark/contact-us_dark.html'
    var  dark_sign_in_path='theme-dark/sign-in_dark.html'
    var  dark_sign_up_path='theme-dark/sign-up_dark.html'



    //- Blog pages Pathes
    var light_blog_home_1_col_path='theme-light/blog-home-1-col.html'
    var light_blog_home_2_col_path ='theme-light/blog-home-2-col.html'
    var light_blog_home_3_col_path ='theme-light/blog-home-3-col.html'
    var light_post_single_featured_image_path='theme-light/post-single-featured-image.html'
    var light_post_single_featured_slider_path ='theme-light/post-single-featured-slider.html'
    var light_post_single_featured_video_path='theme-light/post-single-featured-video.html'

   
    //- dark-theme pathes
    var  dark_blog_home_1_col_path='theme-dark/blog-home-1-col_dark.html'
    var  dark_blog_home_2_col_path ='theme-dark/blog-home-2-col_dark.html'
    var  dark_blog_home_3_col_path ='theme-dark/blog-home-3-col_dark.html'
    var  dark_post_single_featured_image_path='theme-dark/post-single-featured-image_dark.html'
    var  dark_post_single_featured_slider_path ='theme-dark/post-single-featured-slider_dark.html'
    var  dark_post_single_featured_video_path='theme-dark/post-single-featured-video_dark.html'


  
   
   
   
   
    //-index-page logo paths
   
    var logo_light  = '../assets/images/logo/logo-light.png' 
    var logo_dark  = '../assets/images/logo/logo-dark.png' 
    
    
    var logo_light_square  = '../assets/images/logo/logo-light-square.png' 
    var logo_dark_square  = '../assets/images/logo/logo-dark-square.png' 



 


    //-Start pathes constibales

    //-Demos pathes
    var _404_Image_1='../assets/images/404/1.png'


    //-index-page Demos photos pathes
    var index_page_logo_light  = 'assets/images/logo/logo-light.png' 
    var index_page_logo_dark  = 'assets/images/logo/logo-dark.png' 
    var index_page_logo_light_square  = 'assets/images/logo/logo-light-square.png' 
    var index_page_logo_dark_square  = 'assets/images/logo/logo-dark-square.png' 
    
    var main_dark_demo_image='assets/images/demos/dark-theme.png'
    var main_light_demo_image='assets/images/demos/light-theme.png'


    var demoImage_1='assets/images/demos/index-1.jpg'
    var demoImage_2='assets/images/demos/index-2.jpg'
    var demoImage_3='assets/images/demos/index-3.jpg'
    var demoImage_4='assets/images/demos/index-4.jpg'
    var demoImage_5='assets/images/demos/index-5.jpg'
    var demoImage_6='assets/images/demos/index-6.jpg'
    var demoImage_7='assets/images/demos/index-7.jpg'
    var demoImage_8='assets/images/demos/index-8.jpg'
    var demoImage_9='assets/images/demos/index-9.jpg'
    var demoImage_10='assets/images/demos/index-10.jpg'
    var demoImage_11='assets/images/demos/index-11.jpg'
    var demoImage_12='assets/images/demos/index-12.jpg'


    var demoImage_1_dark='assets/images/demos/index-1_dark.jpg'
    var demoImage_2_dark='assets/images/demos/index-2_dark.jpg'
    var demoImage_3_dark='assets/images/demos/index-3_dark.jpg'
    var demoImage_4_dark='assets/images/demos/index-4_dark.jpg'
    var demoImage_5_dark='assets/images/demos/index-5_dark.jpg'
    var demoImage_6_dark='assets/images/demos/index-6_dark.jpg'
    var demoImage_7_dark='assets/images/demos/index-7_dark.jpg'
    var demoImage_8_dark='assets/images/demos/index-8_dark.jpg'
    var demoImage_9_dark='assets/images/demos/index-9_dark.jpg'
    var demoImage_10_dark='assets/images/demos/index-10_dark.jpg'
    var demoImage_11_dark='assets/images/demos/index-11_dark.jpg'
    var demoImage_12_dark='assets/images/demos/index-12_dark.jpg'



    var demoImage_comingSoon='assets/images/demos/coming-soon.jpg'
    
    var demoImage_404_1='assets/images/demos/404-1.jpg'
    var demoImage_404_2='assets/images/demos/404-2.jpg'
    var demoImage_404_3='assets/images/demos/404-3.jpg'
    
    var demoImage_about_us='assets/images/demos/about-us.jpg'
    
    var demoImage_portfolio_rounded_with_gabs='assets/images/demos/portfolio-rounded-with-gabs.jpg'
    var demoImage_portfolio_squared_with_gabs='assets/images/demos/portfolio-squared-with-gabs.jpg'
    var demoImage_portfolio_squared_no_gabs='assets/images/demos/portfolio-squared-no-gabs.jpg'
    var demoImage_portfolio_single='assets/images/demos/portfolio-single.jpg'
    
    var demoImage_pricing_1='assets/images/demos/pricing-1.jpg'
    var demoImage_pricing_2='assets/images/demos/pricing-2.jpg'
    var demoImage_pricing_3='assets/images/demos/pricing-3.jpg'

    var demoImage_services='assets/images/demos/services.jpg'
    var demoImage_testimonials='assets/images/demos/testimonials.jpg'
    var demoImage_clients='assets/images/demos/clients.jpg'
    var demoImage_faq='assets/images/demos/faq.jpg'
    var demoImage_contact_us='assets/images/demos/contact-us.jpg'
    
    var demoImage_sign_in='assets/images/demos/sign-in.jpg'
    var demoImage_sign_up='assets/images/demos/sign-up.jpg'
 
    var demoImage_blog_home_1_col='assets/images/demos/blog-home-1-col.jpg'
    var demoImage_blog_home_2_col='assets/images/demos/blog-home-2-col.jpg'
    var demoImage_blog_home_3_col='assets/images/demos/blog-home-3-col.jpg'
    
    var demoImage_post_single_featured_image='assets/images/demos/post-single-featured-image.jpg'
    var demoImage_post_single_featured_slider='assets/images/demos/post-single-featured-image.jpg'
    var demoImage_post_single_featured_video='assets/images/demos/post-single-featured-video.jpg'


