section(id="our-clients" class="our-clients bg-white-color elf-section" )
  div(class="container")
      div(class="section-heading d-none ")
        h4(class="section-title ") our great clients
        p(class="section-subtitle") Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, architecto cupiditate odio rerum est
        div(class="line-gradient-color")        
        
      include _our-clients-slider_black-logos.pug

