section(id="our-clients" class="our-clients bg-black-color mega-section   wow fadeInUp" data-wow-delay="0.2s" )
  div(class="container")
    -var sec_title_text=" Meet our satisfied clients"
    -var sec_sub_title_text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, architecto cupiditate odio rerum est"
    +add_on_center_section_heading(sec_title_text,sec_sub_title_text)         
    
    include _our-clients-slider_white-logos.pug



