// Start Second about div
div(class="content-block  wide-img-from-start-dir  ")
 
  div(class="row g-0")
    div(class="col-12 col-lg-6 d-flex align-items-center   about-col wow fadeIn" data-wow-delay="0.4s")
      div(class="wide-img-area")
        //- div(class=" overlay-color")
        img(src= about_wide_img_2  alt="show case wide image")
    
    div(class="col-12 col-lg-6   d-flex align-items-center about-col   wow fadeInUp" data-wow-delay="0.4s")
      include ../items-text/text_&_stats.pug
    

//End Second about div