section(id="page-hero" class=" page-hero  demos-hero-section d-flex align-items-center")
  div(class="overlay-image-bg  parallax")
  div(class="overlay-color")
  div(class="container")
    div(class="row ")
      div(class="col-12 col-lg-8 mx-auto ")
        //Start of .hero-text-area
        div(class="hero-theme-logo  mb-3  wow  text-center  zoomIn " data-wow-delay="1.2s")
          img(src= index_page_logo_light_square , class="img-fluid " , alt="theme logo")
        
        div(class="hero-text-area  ")
          h1(class="theme-name  wow  fadeInDown " data-wow-delay="0.4s")  Welcome To 
            |
            |
            span 
              | #{ThemeName} 
              
          p(class="hero-subtitle narrow-centerd-text wow  fadeInDown " data-wow-delay="0.6s") 
            //- |Is a Multi-pourpse landning page template used for Startups and SaaS Landing Pages 
            //- |and much more!
            |Launch your new website in style with
            |#{ThemeName} Theme, choose a well designed, clean coded and modern looking pages for your  
            |next project.
          
          div(class="cta-links-area wow  fadeInUp " data-wow-delay=".8s")
            a(href="#demos" class="ma-btn-rounded ma-btn-primary cta-link goto-link") go to demos
        
          
      //End of .hero-text-area