section(id="page-hero" class="page-hero d-flex align-items-center")
  div(class="overlay-image-bg  parallax")
  div(class="overlay-color")
  div(class="container")
    div(class="row")
        div(class="col-12 col-lg-10   mx-auto")
        
          //Start of .hero-text-area
          div(class="hero-text-area text-center ")
              h1( class="hero-title"    ) Bast Pet Health, Simplified and Delivered
              p(class="hero-subtitle narrow-centerd-text"   ) Subscribe to get news and early trial!

              //- div(class="cta-links-area wow  fadeInUp " data-wow-delay="0.8s")
              div(class="cta-links-area wow  fadeInUp " data-wow-delay="0.2s")
                  //- a(href="#0" class=" ma-btn-primary cta-link  ") start now
                  a(href="#contact-us" class=" ma-btn-primary cta-link cta-link-primary") Contact us
    //End of .hero-text-area 

