section( id="page-hero" class="d-flex align-items-center page-hero ")
    div(class="overlay-shape-image-bg")
    div(class="overlay-color ")
    div(class="container")
        div(class="row g-0 d-flex align-items-center")

            //Start of hero-image
            div( class="col-12  mx-md-auto col-lg-5 " )   
                div( class="hero-image-area mb-5 mb-lg-0 wow fadeInLeft " data-wow-delay="0.4s")
                    div(class="hero-img-wraper  ")
                        img( src= hero_illustration_2 alt="" class="img-fluid " draggable="false")

            //End of hero-image


            //for align adjustments only
            div(class="col-12 col-lg-1")



            div(class="col-12 col-lg-6")
                //Start of .hero-text-area
                div(class="hero-text-area   wow  fadeInRight " data-wow-delay="0.4s")
                    h1( class="hero-title"  data-splitting) boost your business with
                        |
                        |
                        span(class="heading-brand-name") 
                            | #{ThemeName}
                    p(class="hero-subtitle"  data-splitting)
                        . 
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed
                            architecto dolorum inventore
                            impedit ad porro nisi autem iste quidem minus. 
                    div(class="cta-links-area")
                        a(href="#0" class=" ma-btn-primary cta-link ") start now
        //End of .hero-text-area
