section( id="about" class="about mega-section")

  include ../../04-components/section-bg-shapes.pug


  div(class="container")

    include block-1/about-1_illustration.pug
    include block-2/about-2_illustration.pug

