//- 
  This file is only responsible of creating consts that hold the navbar links values
  and pass this vals to an array that used on a mixin that makes the navbar items

//- 
  this file is used only on one-page demos


//- 
    every varible is an object cosists of:
    1:) url: the url the navbar link  
    2:) title: the title of the link that shows on the nav-link
    3:) iconClassList:  a list of icons class names
-

  var home={url:'#page-hero', 
                      title:'home',
                      iconClassList:'fas fa-home icon',
                      arrowIconClassList:'fas fa-chevron-down down-Arrow-icon',
                      //- submenu:[
                      //-           {url: dark_index ,title:'index-dark',iconClassList:'fas fa-home icon'},
                      //-           {url: dark_index_video_bg ,title:'index-dark [ video Background ]',iconClassList:'fas fa-home icon'},
                      //-           {url: light_index_rtl ,title:'index-light-RTL',iconClassList:'fas fa-home icon'},
                      //-           {url: dark_index_rtl ,title:'index-dark-RTL',iconClassList:'fas fa-home icon'},
                                

                      //- ]
                      };



  var services={url:'#services', 
                      title:'services',
                      iconClassList:'fas fa-address-card icon'
                      };


  var about={url:'#about', 
                      title:'about',
                      iconClassList:'fas fa-cogs icon',
                      };


  var portfolio={url:'#portfolio', 
                      title:'portfolio',
                      iconClassList:'fas fa-camera-retro icon'
                      };


  var pricing={url:'#pricing', 
                      title:'pricing',
                      iconClassList:'fas fa-file-invoice-dollar icon',
                      };
  
  
  var testimonials={url:'#testimonials', 
                      title:'testimonials',
                      iconClassList:'fas fa-comments icon',
                      };


  
  var faq={url:'#faq', 
                      title:'FAQ',
                      iconClassList:'fas fa-question-circle icon',
                      };



  var contact_us={url:'#contact-us', 
                      title:'contact us',
                      iconClassList:'fas fa-mobile-alt icon',
                      };

