-
  var home={url:index_path, 
            title:'home',
            iconClassList:'fas fa-home icon',
            arrowIconClassList:'fas fa-chevron-down down-Arrow-icon',
            submenu: [
                      {url: light_home_1_path, title:'home-1', iconClassList:'fas fa-home icon'},
                      {url: light_home_2_path, title:'home-2', iconClassList:'fas fa-home icon'},
                      {url: light_home_3_path, title:'home-3', iconClassList:'fas fa-home icon'},
                      {url: light_home_4_path, title:'home-4', iconClassList:'fas fa-home icon'},
                      {url: light_home_5_path, title:'home-5', iconClassList:'fas fa-home icon'},
                      {url: light_home_6_path, title:'home-6', iconClassList:'fas fa-home icon'},
                      {url: light_home_7_path, title:'home-7', iconClassList:'fas fa-home icon'},
                      {url: light_home_8_path, title:'home-8', iconClassList:'fas fa-home icon'},
                      {url: light_home_9_path, title:'home-9', iconClassList:'fas fa-home icon'},
                      {url: light_home_10_path, title:'home-10', iconClassList:'fas fa-home icon'},
                      {url: light_home_11_path, title:'home-11', iconClassList:'fas fa-home icon'},
                      {url: light_home_12_path, title:'home-12', iconClassList:'fas fa-home icon'},
                      ]            
            };


  var aboutUs={url:light_about_us_path, 
               title:'about us',
               iconClassList:'fas fa-address-card icon',
               arrowIconClassList:'fas fa-chevron-down down-Arrow-icon',
               };
                    
                      

  var portfolio={url:'#0', 
                title:'portfolio',
                iconClassList:'fas fa-cogs icon',
                arrowIconClassList:'fas fa-chevron-down down-Arrow-icon',
                submenu: [
                          {url: light_portfolio_rounded_with_gabs_path       , title:'portfolio rounded '  , iconClassList:'fas fa-cog icon'},
                          {url: light_portfolio_squared_with_gabs_path       , title:'portfolio squared-1' , iconClassList:'fas fa-cog icon'},
                          {url: light_portfolio_squared_no_gabs_path         , title:'portfolio squared-2' , iconClassList:'fas fa-cog icon'},
                          {url: light_portfolio_slider_path                  , title:'portfolio slider'    , iconClassList:'fas fa-cog icon'},
                          {url: light_portfolio_single_path                  , title:'portfolio single'    , iconClassList:'fas fa-list icon'}
                         ]
                };


 
 
 
  var blog={url:'#0', 
            title:'blog',
            iconClassList:'fas fa-edit icon',
            arrowIconClassList:'fas fa-chevron-down down-Arrow-icon',            
            submenu: [
                      {url:'#0',
                       title:'blog home', 
                       iconClassList:'fas fa-pencil-alt icon',
                       arrowIconClassList:'fas fa-chevron-down down-Arrow-icon',
                       submenu_2:[
                                    {
                                      url: light_blog_home_1_col_path,
                                      title:'blog home 1 ',
                                      iconClassList:'fas fa-pencil-alt icon'
                                    },
                                    {
                                     url: light_blog_home_2_col_path,
                                     title:'blog  home 2 ',
                                     iconClassList:'fas fa-pencil-alt icon'
                                    },
                                    {
                                     url: light_blog_home_3_col_path,
                                     title:'blog  home 3 ',
                                     iconClassList:'fas fa-pencil-alt icon'
                                     }
                                 ]
                      
                      },

                      {
                       url:'#0',
                       title:'single post',
                       iconClassList:'fas fa-pencil-alt icon',
                       arrowIconClassList:'fas fa-chevron-down down-Arrow-icon',
                       submenu_2:[
                                    {
                                     url: light_post_single_featured_image_path,
                                     title:'single post 1',
                                     iconClassList:'fas fa-pencil-alt icon' 
                                     },
                                    {
                                     url: light_post_single_featured_slider_path,
                                     title:'single post 2',
                                     iconClassList:'fas fa-pencil-alt icon'
                                    },
                                    {
                                      url: light_post_single_featured_video_path, 
                                      title:'single post 3', 
                                      iconClassList:'fas fa-pencil-alt icon'
                                    }
                                  ]
                      }
                    ]
            
            };
 

               

  var otherPages={url:'#0', 
            title:'pages',
            iconClassList:'fas fa-file-code icon',
            arrowIconClassList:'fas fa-chevron-down down-Arrow-icon',            
            submenu: [
                        {url: light_services_path,title:'services', iconClassList:'fas fa-boxes icon'},
                        {url: light_testimonials_path, title:'testimonials', iconClassList:'fas fa-comments icon'},
                        {url: light_clients_path, title:'our clients', iconClassList:'fas fa-users icon'},
                        {url: light_faq_path, title:'FAQ', iconClassList:'fas fa-question icon' },
                        {url: light_contact_us_path,title:'contact us', iconClassList:'fas fa-mobile-alt icon'},
                        {url:'#0', title:'404 pages', iconClassList:'fas fa-times icon',arrowIconClassList:"fas fa-chevron-down down-Arrow-icon" ,
                        submenu_2:[
                                    {url:light_404_1_path, title:'404-1', iconClassList:'fas fa-times icon'},
                                    {url:light_404_2_path, title:'404-2', iconClassList:'fas fa-times icon'},
                                    {url:light_404_3_path, title:'404-3', iconClassList:'fas fa-times icon'},
                                  ]},
                        {url: light_sign_in_path,title:'sign in', iconClassList:'fas fa-sign-in-alt icon'},
                        {url: light_sign_up_path,title:'sign up', iconClassList:'fas fa-user-plus icon'},
                     ]
            };
                  

  var pricing={url:'#0', 
            title:'Pricing',
            iconClassList:'fas fa-money-check icon',
            arrowIconClassList:'fas fa-chevron-down down-Arrow-icon',            
            submenu:[  
                      {url:light_pricing_1_path, title:'pricing page 1', iconClassList:'fas fa-money-check icon', arrowIconClassList:'fas fa-chevron-down down-Arrow-icon',},
                      {url:light_pricing_2_path, title:'pricing page 2', iconClassList:'fas fa-money-check icon', arrowIconClassList:'fas fa-chevron-down down-Arrow-icon',},
                      {url:light_pricing_3_path, title:'pricing page 3', iconClassList:'fas fa-money-check icon', arrowIconClassList:'fas fa-chevron-down down-Arrow-icon',},
                    ]
            };
   

