-
    var dir = false
    if (pageDir === "ltr")
        dir = true 
    else
        dir = false 

    var en_lorem_5="Lorem ipsum dolor sit amet."
    var en_lorem_10="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, debitis."
    var en_lorem_15="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum quae non nihil quis commodi dolor."
    var en_lorem_20="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa repellendus corporis quis ratione esse. Accusamus explicabo consectetur voluptatum repellat ipsam."
    var en_lorem_25="Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid repellendus architecto corporis laboriosam dolore ullam vero asperiores consequuntur, totam id explicabo enim, perferendis, molestiae quisquam."
    var en_lorem_30="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi nostrum inventore similique saepe quae ab reiciendis tempore possimus temporibus tenetur accusamus, praesentium maxime consequatur ducimus veritatis nam voluptatem! Commodi, odit."
    var en_lorem_35="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab accusamus inventore placeat, magnam deserunt aspernatur unde atque dolorum, minima ipsum fugiat quos, a ratione perspiciatis nihil sunt est quas beatae. Tempore pariatur vitae cumque neque!"
    var en_lorem_40="Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, maxime cum? Debitis dolores, laudantium, voluptas minima distinctio accusantium iusto ex facere temporibus aut esse eum libero numquam maiores. Iure autem nam vero officia, libero sed dolorum nesciunt magni asperiores repellat."
    var en_lorem_45="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime libero expedita aliquid pariatur possimus at quod est laborum sequi neque voluptates vel, vitae architecto veniam, harum quibusdam nostrum distinctio? Dolor praesentium est aliquam magni eligendi, natus earum excepturi debitis voluptatum cum mollitia magnam in cupiditate!"
    var en_lorem_50="Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias nemo sint, vel ullam voluptatem eum in nesciunt facilis culpa aliquam, voluptas suscipit temporibus officia minus sapiente laudantium quasi possimus, perspiciatis nulla. Et, aspernatur molestias? Optio nemo error recusandae sit. Eum cupiditate nihil quae quia officia neque mollitia amet, ad repudiandae?"
    
    
    var ar_lorem_5="Lorem ipsum dolor sit amet."
    var ar_lorem_10="Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, debitis."
    var ar_lorem_15="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum quae non nihil quis commodi dolor."
    var ar_lorem_20="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa repellendus corporis quis ratione esse. Accusamus explicabo consectetur voluptatum repellat ipsam."
    var ar_lorem_25="Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid repellendus architecto corporis laboriosam dolore ullam vero asperiores consequuntur, totam id explicabo enim, perferendis, molestiae quisquam."
    var ar_lorem_30="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi nostrum inventore similique saepe quae ab reiciendis tempore possimus temporibus tenetur accusamus, praesentium maxime consequatur ducimus veritatis nam voluptatem! Commodi, odit."
    var ar_lorem_35="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab accusamus inventore placeat, magnam deserunt aspernatur unde atque dolorum, minima ipsum fugiat quos, a ratione perspiciatis nihil sunt est quas beatae. Tempore pariatur vitae cumque neque!"
    var ar_lorem_40="Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, maxime cum? Debitis dolores, laudantium, voluptas minima distinctio accusantium iusto ex facere temporibus aut esse eum libero numquam maiores. Iure autem nam vero officia, libero sed dolorum nesciunt magni asperiores repellat."
    var ar_lorem_45="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime libero expedita aliquid pariatur possimus at quod est laborum sequi neque voluptates vel, vitae architecto veniam, harum quibusdam nostrum distinctio? Dolor praesentium est aliquam magni eligendi, natus earum excepturi debitis voluptatum cum mollitia magnam in cupiditate!"
    var ar_lorem_50="Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias nemo sint, vel ullam voluptatem eum in nesciunt facilis culpa aliquam, voluptas suscipit temporibus officia minus sapiente laudantium quasi possimus, perspiciatis nulla. Et, aspernatur molestias? Optio nemo error recusandae sit. Eum cupiditate nihil quae quia officia neque mollitia amet, ad repudiandae?"

    




            
            
            
            




    //-  HEADER LANG VARS
    var _home           =  dir ? "home" : "الرئيسية" 
    var _services       =  dir ? "services" : "المزايا"
    var _services       =  dir ? "services" : "الخدمات"
    var _gallery        =  dir ? "gallery" : "المعرض"
    var _pricing        =  dir ? "pricing" : "الأسعار"
    var _testimonials    =  dir ? "testimonials" : "شهادات"
    var _faq            =  dir ? "faq" : "س & ج"
    var _contactUs      =  dir ? "contact us" : "أتصل بنا"
    var _headerCta       =  dir ? "Subscribe" : "إشترك"



    //- Hero Lang Vars 

    var hero_heading_text=dir ? "boost Your Presence With ":"أبدأ مشروعك منا فى " 
    var hero_sub_heading_text=dir ? lorem_15:"" 