-

    var ThemeName='forsa'
    ThemeName.toUpperCase

    //- to define the type of each page
    var home_page_type='homePage'
    var inner_page_type='innerPage'

  
    //- One-page Demos Pathes
    var index_path='#0'
    
    var light_index='index.html'
    var light_index_video_bg='index-video-bg.html'
    var light_index_rtl='index-rtl.html'


    //- dark-theme pathes
    var dark_index='index-dark.html'
    var dark_index_video_bg='index-video-bg-dark.html'
    var dark_index_rtl='index-dark-rtl.html'




    //- Multipages Home pages Pathes
    var light_home_1_path='home-1.html'
    var light_home_2_path='home-2.html'
    var light_home_3_path='home-3.html'
    var light_home_4_path='home-4.html'
    var light_home_5_path='home-5.html'
    var light_home_6_path='home-6.html'
    var light_home_7_path='home-7.html'
    var light_home_8_path='home-8.html'
    var light_home_9_path='home-9.html'
    var light_home_10_path='home-10.html'
    var light_home_11_path='home-11.html'
    var light_home_12_path='home-12.html'

    //- dark-theme pathes
    var  dark_home_1_path='home-1_dark.html'
    var  dark_home_2_path='home-2_dark.html'
    var  dark_home_3_path='home-3_dark.html'
    var  dark_home_4_path='home-4_dark.html'
    var  dark_home_5_path='home-5_dark.html'
    var  dark_home_6_path='home-6_dark.html'
    var  dark_home_7_path='home-7_dark.html'
    var  dark_home_8_path='home-8_dark.html'
    var  dark_home_9_path='home-9_dark.html'
    var  dark_home_10_path='home-10_dark.html'
    var  dark_home_11_path='home-11_dark.html'
    var  dark_home_12_path='home-12_dark.html'

 //- Inner pages Pathes
    var  light_about_us_path='about-us.html'
    var  light_services_path='services.html'
    var  light_portfolio_rounded_with_gabs_path='portfolio-rounded-with-gabs.html'
    var  light_portfolio_squared_with_gabs_path= 'portfolio-squared-with-gabs.html'
    var  light_portfolio_squared_no_gabs_path  ='portfolio-squared-no-gabs.html'
    var  light_portfolio_slider_path  ='portfolio-slider.html'
    var  light_portfolio_single_path='portfolio-single.html'

    var light_testimonials_path='testimonials.html'
    var light_clients_path='clients.html'
    var light_404_1_path='404-1.html'
    var light_404_2_path='404-2.html'
    var light_404_3_path='404-3.html'
    var light_pricing_1_path='pricing-1.html'
    var light_pricing_2_path='pricing-2.html'
    var light_pricing_3_path='pricing-3.html'
    var light_faq_path='faq.html'
    var light_contact_us_path='contact-us.html'
    var light_sign_in_path='sign-in.html'
    var light_sign_up_path='sign-up.html'



    //- dark-theme pathes
    var  dark_about_us_path='about-us_dark.html'
    var  dark_services_path='services_dark.html'
    var  dark_portfolio_rounded_with_gabs_path='portfolio-rounded-with-gabs_dark.html'
    var  dark_portfolio_squared_with_gabs_path='portfolio-squared-with-gabs_dark.html'
    var  dark_portfolio_squared_no_gabs_path  ='portfolio-squared-no-gabs_dark.html'
    var  dark_portfolio_slider_path  ='portfolio-slider_dark.html'
    var  dark_portfolio_single_path='portfolio-single_dark.html'

    var  dark_testimonials_path='testimonials_dark.html'
    var  dark_clients_path='clients_dark.html'
    var  dark_404_1_path='404-1_dark.html'
    var  dark_404_2_path='404-2_dark.html'
    var  dark_404_3_path='404-3_dark.html'
    var  dark_pricing_1_path='pricing-1_dark.html'
    var  dark_pricing_2_path='pricing-2_dark.html'
    var  dark_pricing_3_path='pricing-3_dark.html'
    var  dark_faq_path='faq_dark.html'
    var  dark_contact_us_path='contact-us_dark.html'
    var  dark_sign_in_path='sign-in_dark.html'
    var  dark_sign_up_path='sign-up_dark.html'



    //- Blog pages Pathes
    var light_blog_home_1_col_path='blog-home-1-col.html'
    var light_blog_home_2_col_path ='blog-home-2-col.html'
    var light_blog_home_3_col_path ='blog-home-3-col.html'
    var light_post_single_featured_image_path='post-single-featured-image.html'
    var light_post_single_featured_slider_path ='post-single-featured-slider.html'
    var light_post_single_featured_video_path='post-single-featured-video.html'

   
    //- dark-theme pathes
    var  dark_blog_home_1_col_path='blog-home-1-col_dark.html'
    var  dark_blog_home_2_col_path ='blog-home-2-col_dark.html'
    var  dark_blog_home_3_col_path ='blog-home-3-col_dark.html'
    var  dark_post_single_featured_image_path='post-single-featured-image_dark.html'
    var  dark_post_single_featured_slider_path ='post-single-featured-slider_dark.html'
    var  dark_post_single_featured_video_path='post-single-featured-video_dark.html'









    //-  Home pages titles
    //- var page_1_Title   = 'Home-1'
    //- var page_2_Title   = 'Home-2'
    //- var page_3_Title   = 'Home-3'
    //- var page_4_Title   = 'Home-4 [Video Background]'
    //- var page_5_Title   = 'Home-5'
    //- var page_6_Title   = 'Home-6'
    //- var page_7_Title   = 'Home-7'
    //- var page_8_Title   = 'Home-8'
    //- var page_9_Title   = 'Home-9'
    //- var page_10_Title   = 'Home-10'
    //- var page_11_Title   = 'Home-11'
    //- var page_RTL_Title = 'Home-RTL'
   
   

   
   
   
   
   
   
    //-site logo paths
   
    var logo_light  = 'assets/images/logo/logo-light.png' 
    var logo_dark  = 'assets/images/logo/logo-dark.png' 
    
    
    var logo_light_square  = 'assets/images/logo/logo-light-square.png' 
    var logo_dark_square  = 'assets/images/logo/logo-dark-square.png' 



 


    //-Start pathes constibales

    //-Demos pathes
    var _404_Image_1='assets/images/404/1.png'

 



 
 



    


    //-Hero images
    var hero_illustration_1='assets/images/hero/hero-illustration-1.png'
    var hero_illustration_2='assets/images/hero/hero-illustration-2.png'
    var hero_illustration_3='assets/images/hero/hero-illustration-3.png'
    var hero_illustration_4='assets/images/hero/hero-illustration-4.png'

    var hero_img_4='assets/images/hero/hero-img-4.jpg'
    var hero_img_5='assets/images/hero/hero-img-5.jpg'
    
    var hero_slider_bg_img_1='assets/images/hero/hero-slider-bg-img-1.jpg'
    var hero_slider_bg_img_2='assets/images/hero/hero-slider-bg-img-2.jpg'
    var hero_slider_bg_img_3='assets/images/hero/hero-slider-bg-img-3.jpg'

    
    var hero_illustration_1_part_1='assets/images/hero/hero-illustration-1-parts/part-1.png'
    var hero_illustration_1_part_2='assets/images/hero/hero-illustration-1-parts/part-2.png'
    var hero_illustration_1_part_3='assets/images/hero/hero-illustration-1-parts/part-3.png'
    var hero_illustration_1_part_4='assets/images/hero/hero-illustration-1-parts/part-4.png'
    var hero_illustration_1_part_5='assets/images/hero/hero-illustration-1-parts/part-5.png'
    var hero_illustration_1_part_6='assets/images/hero/hero-illustration-1-parts/part-6.png'
    

    var feat_img_1='assets/images/services/1.png'
    var feat_img_2='assets/images/services/2.png'
    var feat_img_3='assets/images/services/3.png'
    var feat_img_4='assets/images/services/4.png'
    var feat_img_5='assets/images/services/5.png'
    var feat_img_6='assets/images/services/6.png'
    var why_choose_img='assets/images/services/why-choose-us.jpg'


    //- videos Paths
    var heroVideoBg='assets/videos/hero-bg-video.mp4'  





    //-about
    var about_1_photo = 'assets/images/about/about-1_photo.jpg'
    var about_2_photo = 'assets/images/about/about-2_photo.jpg'
    var about_1_photo_png = 'assets/images/about/about-1_photo.png'
    var about_2_photo_png = 'assets/images/about/about-2_photo.png'
    var about_1_photo_wide = 'assets/images/about/about-1_photo_wide.jpg'
    var about_2_photo_wide = 'assets/images/about/about-2_photo_wide.jpg'
    var about_1_illustration = 'assets/images/about/about-1_illustration.png'
    var about_2_illustration = 'assets/images/about/about-2_illustration.png'

    var about_icon_1 = 'assets/images/about/icon-1.png'
    var about_icon_2 = 'assets/images/about/icon-2.png'
    var about_icon_3 = 'assets/images/about/icon-3.png'
    var about_wide_img_1='assets/images/about/about-photo-wide-1.jpg'
    var about_wide_img_2='assets/images/about/about-photo-wide-2.jpg'
    var about_wide_img_3='assets/images/about/about-photo-wide-3.jpg'






    //- portfolio photos Pathes
    var portfolio_img_1 = 'assets/images/portfolio/1.jpg'
    var portfolio_img_2 = 'assets/images/portfolio/2.jpg'
    var portfolio_img_3 = 'assets/images/portfolio/3.jpg'
    var portfolio_img_4 = 'assets/images/portfolio/4.jpg'
    var portfolio_img_5 = 'assets/images/portfolio/5.jpg'
    var portfolio_img_6 = 'assets/images/portfolio/6.jpg'
    var portfolio_img_7 = 'assets/images/portfolio/7.jpg'
    var portfolio_img_8 = 'assets/images/portfolio/8.jpg'   

    //-our videos Links
    var videoLink ='https://www.youtube.com/watch?v=8cN7LWGO-gE'

    var embededVideoLink='https://www.youtube.com/embed/Fd_3EkGr0-4'
    
    var playBtn   = 'assets/images/icons/play-icon.svg'  



    //-Our-team

    var tm_img_1='assets/images/our-team/1.jpg'
    var tm_img_2='assets/images/our-team/2.jpg'
    var tm_img_3='assets/images/our-team/3.jpg'




    //-Our-benefits

    var benefits_img_1='assets/images/benefits/1.svg'
    var benefits_img_2='assets/images/benefits/2.svg'
    var benefits_img_3='assets/images/benefits/3.svg'
    var benefits_img_4='assets/images/benefits/4.svg'
    

    var benefits_wide_img_1='assets/images/benefits/benefits-1.jpg'
    var benefits_wide_img_2='assets/images/benefits/benefits-2.jpg'
    var benefits_wide_img_3='assets/images/benefits/benefits-3.jpg'


    //-Our-pricing

    var pricing_img_1='assets/images/pricing/1.png'
    var pricing_img_2='assets/images/pricing/2.png'
    var pricing_img_3='assets/images/pricing/3.png'

    //- clients-logos
    var client_logo_1_white = 'assets/images/clients-logos/1-white.png' 
    var client_logo_2_white = 'assets/images/clients-logos/2-white.png' 
    var client_logo_3_white = 'assets/images/clients-logos/3-white.png' 
    var client_logo_4_white = 'assets/images/clients-logos/4-white.png' 
    var client_logo_5_white = 'assets/images/clients-logos/5-white.png' 
    var client_logo_6_white = 'assets/images/clients-logos/6-white.png' 
    var client_logo_7_white = 'assets/images/clients-logos/7-white.png' 
    var client_logo_8_white = 'assets/images/clients-logos/8-white.png' 

    var client_logo_1_black = 'assets/images/clients-logos/1-black.png' 
    var client_logo_2_black = 'assets/images/clients-logos/2-black.png' 
    var client_logo_3_black = 'assets/images/clients-logos/3-black.png' 
    var client_logo_4_black = 'assets/images/clients-logos/4-black.png' 
    var client_logo_5_black = 'assets/images/clients-logos/5-black.png' 
    var client_logo_6_black = 'assets/images/clients-logos/6-black.png' 
    var client_logo_7_black = 'assets/images/clients-logos/7-black.png' 
    var client_logo_8_black = 'assets/images/clients-logos/8-black.png' 


    //-customers
    var customer_img_1='assets/images/testimonials/1.jpg'
    var customer_img_2='assets/images/testimonials/2.jpg'
    var customer_img_3='assets/images/testimonials/3.jpg'

    //- faq section
    var faq_illustration='assets/images/faq/faq_illustration.png'
    var faq_photo='assets/images/faq/faq_photo.jpg'

    //- contact-us section
    var contact_us_img='assets/images/contact-us/writing.png'
 
    //- portfolio section
    var chart_img='assets/images/portfolio-single/charts.png'
    var feat_img='assets/images/portfolio-single/service-image.jpg'
    
    
    //- blog section
    var recent_post_1='assets/images/blog/recent-posts/1.jpg'
    var recent_post_2='assets/images/blog/recent-posts/2.jpg'
    var recent_post_3='assets/images/blog/recent-posts/3.jpg'
    var recent_post_4='assets/images/blog/recent-posts/4.jpg'
   
   
    var feed_img_1='assets/images/blog/feed/1.jpg'
    var feed_img_2='assets/images/blog/feed/2.jpg'
    var feed_img_3='assets/images/blog/feed/3.jpg'
    var feed_img_4='assets/images/blog/feed/4.jpg'
    var feed_img_5='assets/images/blog/feed/5.jpg'
    var feed_img_6='assets/images/blog/feed/6.jpg'




    var post_feat_img_1='assets/images/blog/post-images/service-img-1.jpg'
    var post_feat_img_2='assets/images/blog/post-images/service-img-2.jpg'
    var post_feat_img_3='assets/images/blog/post-images/service-img-3.jpg'


    var post_img_1='assets/images/blog/post-images/1.jpg'
    var post_img_2='assets/images/blog/post-images/2.jpg'
    var post_img_3='assets/images/blog/post-images/3.jpg'
    var post_img_4='assets/images/blog/post-images/4.jpg'
    var post_img_5='assets/images/blog/post-images/5.jpg'
    var post_img_6='assets/images/blog/post-images/6.jpg'
    
    
    var avatar_1='assets/images/blog/avatars/1.jpg'
    var avatar_2='assets/images/blog/avatars/2.jpg'
    var avatar_3='assets/images/blog/avatars/3.jpg'
    var avatar_4='assets/images/blog/avatars/4.jpg'








    //-End pathes constibales
