-
  var faq_answer_text=`mhmd, Anim pariatur cliche reprehenderit, enim eiusmod high life
            accusamus terry richardson ad squid. 3 wolf moon officia
            aute,
            non cupidatat skateboard dolor brunch. Food truck quinoa
            nesciunt
            laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put
            a
            bird on it squid single-origin coffee nulla assumenda
            shoreditch
            et. Nihil anim keffiyeh helvetica, craft beer labore wes
            anderson
            cred nesciunt sapiente ea proident. Ad vegan excepteur
            butcher
            vice lomo. Leggings occaecat craft beer farm-to-table. `

  var faq_parent_data={
            faq_parent_container_ID:'accordion',
            has_wow_anim: true,
            wow_anim_classList:' wow fadeInUp ',
            wow_data_delay:'0.4s ',
  }
  
  
  var faq_data_1={ 
            parent_ID:faq_parent_data.faq_parent_container_ID, 
            faq_header_ID: 'heading-1',
            faq_header_text:'are your service easy to use?',
            collapse_ID:'collapse-1',
            faq_answer:faq_answer_text,
  }
  var faq_data_2={ 
            parent_ID:faq_parent_data.faq_parent_container_ID,
            faq_header_ID: 'heading-2',
            faq_header_text:'will i receive future updates?',
            collapse_ID:'collapse-2',
            faq_answer:faq_answer_text,
  }
  var faq_data_3={ 
            parent_ID:faq_parent_data.faq_parent_container_ID,
            faq_header_ID: 'heading-3',
            faq_header_text:'is this services work in my country?',
            collapse_ID:'collapse-3',
            faq_answer:faq_answer_text,
  }
  var faq_data_4={ 
            parent_ID:faq_parent_data.faq_parent_container_ID,
            faq_header_ID: 'heading-4',
            faq_header_text:'How much I will pay?',
            collapse_ID:'collapse-4',
            faq_answer:faq_answer_text,
  }
  var faq_data_5={ 
            parent_ID:faq_parent_data.faq_parent_container_ID,
            faq_header_ID: 'heading-5',
            faq_header_text:'are theres other fees?',
            collapse_ID:'collapse-5',
            faq_answer:faq_answer_text,
  }
  var faq_data_6={ 
            parent_ID:faq_parent_data.faq_parent_container_ID,
            faq_header_ID: 'heading-6',
            faq_header_text:' how can i sign up the contract?',
            collapse_ID:'collapse-6',
            faq_answer:faq_answer_text,
  }

