div(class="tab-content monthly-plan  visibale-tab")
  div(class="row")
    //First Plan
    div(class="col-12 col-md-9 col-lg-4  mx-auto price-plan ")
      div(class="plan wow fadeInUp " data-wow-delay=".2s")
        div(class="plan-cost")
          div(class="pricing-img icon")
            img(src = pricing_img_1 class="img-fluid" alt="pricing iamge")
          p( class="plan-price")
            sup(class="plan-currency") $
            |0
          h4(class="plane-name" ) free plan
        div(class="plan-details")
          ul(class="plan-list")
            li(class="plan-feat ") 150 Lorem, ipsum dolor.
            li(class="plan-feat ") 20 Lorem ipsum dolor sit .
            li(class="plan-feat ") Lorem ipsum dolor sit.
            li(class="plan-feat ") free Lorem ipsum dolor sit amet.
            li(class="plan-feat ") added Lorem ipsum dolor sit .
        div(class="plan-cta")
          a(href="#0" class=" ma-btn-primary ") order now

    //Second-plan
    div(class="col-12 col-md-9 col-lg-4  mx-auto price-plan ")
      div(class="plan wow fadeInUp " data-wow-delay=".4s")
        div(class="plan-cost")
          div(class="pricing-img icon")
            img(src=pricing_img_2 class="img-fluid" alt="pricing iamge")
          div(class="ribbon") Most Popular
          p( class="plan-price")
            sup(class="plan-currency") $
            |60
          h4(class="plane-name" ) business plan
        div(class="plan-details")
          ul(class="plan-list")
            li(class="plan-feat ") 150 Lorem, ipsum dolor.
            li(class="plan-feat ") 20 Lorem ipsum dolor sit .
            li(class="plan-feat ") Lorem ipsum dolor sit.
            li(class="plan-feat ") free Lorem ipsum dolor sit amet.
            li(class="plan-feat ") added Lorem ipsum dolor sit .
        div(class="plan-cta")
          a(href="#0" class=" ma-btn-primary ") order now

    //Third-plan
    div(class="col-12 col-md-9 col-lg-4  mx-auto price-plan ")
      div(class="plan wow fadeInUp " data-wow-delay=".6s")
        div(class="plan-cost")
          div(class="pricing-img icon")
            img(src=pricing_img_3 class="img-fluid" alt="pricing iamge")
          p( class="plan-price")
            sup(class="plan-currency") $
            |96
          h4(class="plane-name" ) enterprise plan
        div(class="plan-details")
          ul(class="plan-list")
            li(class="plan-feat ") 150 Lorem, ipsum dolor.
            li(class="plan-feat ") 20 Lorem ipsum dolor sit .
            li(class="plan-feat ") Lorem ipsum dolor sit.
            li(class="plan-feat ") free Lorem ipsum dolor sit amet.
            li(class="plan-feat ") added Lorem ipsum dolor sit .
        div(class="plan-cta")
          a(href="#0" class=" ma-btn-primary ") order now

