div(class="download-apps-area")
  a(href="#" class="btn-store btn-app-store btn-main-color-bg")
    i(class="fab fa-apple icon")
    div(class="title-wraper")
      span(class="sub-title") download from
      span(class="title") app store
  a(href="#" class="btn-store btn-google-play btn-main-color-bg")
    i(class="fab fa-google-play icon")
    div(class="title-wraper")
      span(class="sub-title") git it on
      span(class="title") google play

