div(class="section-shape-divider-bottom section-bg-shade")

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 200">
        <g transform="translate(0 54.989)">
            <path d="M1909,0S632.91-2.995,0,200H1909Z" transform="translate(11 -54.986)" opacity="0.25"/>
            <path d="M1920,216.889s-651.955-33.43-1004.064-82.707S255.091,24.1,0,25.146V216.889Z" transform="translate(0 -76)" opacity="0.22"/>
            <path d="M1920,0S636.557-2.309,0,154.132H1920Z" transform="translate(0 -13.243)" opacity="0.25"/>
            <path d="M1920,154.132S1268.045,131.643,915.936,98.493,255.091,24.436,0,25.141V154.132Z" transform="translate(0 -9.243)"/></g></svg>