div(class="section-shape-divider-bottom fill-shade")
    svg(xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 1920 250" preserveAspectRatio="none")
        g(transform="translate(0 280)")
            path(d="M1442.534,98.682c-265.574,25.019-554.112,16.544-830.8,19.755-161.831,1.884-362.453,1.861-495.05,35.506C64.243,167.249,26.643,191.243,0,214.582H1920V0C1796.678,48.528,1628.16,81.19,1442.534,98.682Z" transform="translate(0 -244.927)" opacity="0.25")
            path(d="M1395.845,114.97c-256.979,29.149-536.178,19.275-803.914,23.016C373.225,141.052,90.775,154.256,0,250H1857.857V0C1738.527,56.537,1575.463,94.591,1395.845,114.97Z" transform="translate(62 -280)" opacity="0.25")
            path(d="M1456.051,130.829c-248.646,22.25-518.7,14.71-777.773,17.567-211.506,2.334-484.752,12.391-572.558,85.468H1903V43.1C1787.56,86.24,1629.855,115.261,1456.051,130.829Z" transform="translate(17.28 -263.864)")
            path(d="M477.466,98.682c265.574,25.019,554.112,16.544,830.8,19.755,161.831,1.884,362.453,1.861,495.05,35.506,52.438,13.306,90.038,37.3,116.681,60.639H0V0C123.322,48.528,291.84,81.19,477.466,98.682Z" transform="translate(0.28 -244.927)" opacity="0.25")
            path(d="M462.012,114.97c256.979,29.149,536.178,19.275,803.913,23.016,218.707,3.066,501.157,16.27,591.932,112.014H0V0C119.33,56.537,282.394,94.591,462.012,114.97Z" transform="translate(0.423 -280)" opacity="0.25")
            path(d="M552.668,130.829c248.646,22.25,518.7,14.71,777.773,17.567,211.506,2.334,484.752,12.391,572.558,85.468H105.72V43.1C221.16,86.24,378.865,115.261,552.668,130.829Z" transform="translate(-105.72 -263.864)")
